<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>

    <link type="text/css" href="/static/bootstrap/css/bootstrap.css">
    <link type="text/css" href="/static/bootstrap/css/bootstrap-table.css">
    <link type="text/css" href="/static/bootstrap/css/bootstrap-theme.css">

    <script src="/static/jquery/jquery-3.2.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap/js/bootstrap-table.js"></script>
    <script src="/static/bootstrap/js/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/static/user/js/user.js"></script>
</head>
<body>
<table id="table"></table>
</body>
</html>